.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: #706e64;
  background-color: #706e64;
  background-size: cover;
}

:root {
  background: initial;
  background-color: initial;
  background-image: initial;
  background-origin: padding-box;
}

.nav-link.active.js-scroll-trigger {
  font-size: small;
  font-family: 'Karla';
}

#navbarResponsive {
  font-size: small;
}

.masthead .intro-body {
  font-size: larger;
  font-family: 'Karla';
}

.masthead {
  background-color: #706e64;
}

#download {
  text-decoration-color: #52d6af;
}

#about {
  text-decoration-color: #706e64;
  background-color: #706e64;
}

#contact {
  background-color: #706e64;
}

.col-lg-8.mx-auto {
}

#download {
  text-decoration-color: #52d6af;
}

h1, h2, h3, h4, h5, h6 {
  text-decoration: #706e64;
}

.navbar.navbar-light.navbar-expand-md.navigation-clean {
}

.navbar.navbar-light.navbar-expand-md.navigation-clean {
  background-color: #f4f3ef;
}

